<div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        {% for menu_item in menu_items %}
            {% if menu_item.get_children %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if menu_item.url|add:last_part == current_url %}active{% endif %}" href={{ menu_item.url }} id="dropdown{{ menu_item.id }}"
                       data-bs-toggle="dropdown" aria-expanded="false">{{ menu_item }}</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown{{ menu_item.id }}">
                        {% for m_item in menu_item.get_children %}
                            <li><a class="dropdown-item {% if current_url == m_item.url %}active{% endif %}" href={{ m_item.url }}>{{ m_item }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if current_url == menu_item.url %}active{% endif %}" aria-current="page" href={{ menu_item.url }}>{{ menu_item }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

